{% extends 'base.html' %}
{% block title %}
Профайл пользователя {{author.get_full_name}}
{% endblock %} 
{% block content %}
{% load static %}
      <div class="container py-5">        
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
          <h3>Всего постов:  {{ author.posts.count }} </h3>   
          {% for post in posts %}
            <article>
              <ul>
                <li>
                  Автор: {{ post.author.get_full_name }}
                    <a href="{% url 'posts:profile' post.author.username %}">
                      все посты пользователя
                    </a>
                </li>
                <li>
                  Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
              </ul>
              <p>
                {{ post.text }}
              </p>
              <a href="{% url 'posts:post_detail' post.pk%}">подробная информация </a>
            </article>  
            <br> 
            {% if post.group %}   
            <p>Группа: {{post.group}}</p> 
              <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>      
            {% endif %}
            <hr>
         {% endfor %}
        {% if not forloop.last %}<hr>{% endif %}
      </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %} 